/****************** Login ********************/
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700");
.login_body {
  height: 100vh;
  background: linear-gradient(hsla(0, 0%, 100%, 0.7), #fff), url("../pictures/nantes.jpg") 50% no-repeat;
  background-position: right 50% bottom -1%;
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: rgb(68, 74, 154);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.user_card h1,
.user_card a {
  color: white;
  text-align: center;
}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: white;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.form_container {
  margin-top: 100px;
  flex-direction: column;
}

.login_btn {
  width: 100%;
  background: rgb(78, 2, 230) !important;
  color: white !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: rgb(61, 68, 254) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
  height: 100%;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0392b !important;
}


body {
  font-size: 14px;
  color: #333;
  list-style: 26px;
  font-family: "Roboto", sans-serif;
}

/** ======================  base css ==============================**/
a:hover {
  text-decoration: none;
}

/** ======================  header ==============================**/
.header {
  background-color: rgb(68, 74, 154) !important;
}

.header .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  border-radius: 0px;
}

.header .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.header .navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.header .navbar-light .navbar-nav .nav-link:hover,
.header .navbar-light .navbar-nav .nav-link:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.header .fa.fa-fw.fa-bars {
  color: #fff;
  font-size: 2em;
  margin-right: 25px;
}

.header .navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 10px 20px;
  position: relative;
}

.header li > a > .label {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: 0.9;
  background-color: #333;
  border-radius: 0.25em;
}

.header li > a:after {
  display: none;
}

.header-ul {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #333;
  font-size: 14px;
}

.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}

.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}

.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a,
.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a {
  margin: 0;
  padding: 10px 10px;
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
}

.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #333;
  font-size: 15px;
  position: relative;
}

.navbar-nav > .messages-menu > .dropdown-menu li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}

.navbar button {
  display: none;
}
.navbar .admin_logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
}
.navbar .admin_logo img {
  width: 100px;
}

.footer-ul a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #333;
  display: block;
}

.dropdown-menu-over .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu li .menu > li > a > .ion {
  width: 20px;
}

a.navbar-brand {
  width: 165px;
}

/***    left menu ****/
/***********************  TOP Bar ********************/
.sidebar {
  width: 220px;
  background-color: #000;
  transition: all 0.5s ease-in-out;
  display: inline-block;
}

.bg-defoult {
  background-color: #222;
}

.sidebar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sidebar li a,
.sidebar li a.collapsed.active {
  display: block;
  padding: 8px 12px;
  color: #fff;
  border-left: 0px solid #dedede;
  text-decoration: none;
}

.sidebar li a.active {
  background-color: #000;
  border-left: 5px solid #dedede;
  transition: all 0.5s ease-in-out;
}

.sidebar li a:hover {
  background-color: #000 !important;
}

.sidebar li a i {
  padding-right: 5px;
}

.sidebar ul li .sub-menu li a {
  position: relative;
}

.sidebar ul li .sub-menu li a:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 0px;
  padding-right: 10px;
  vertical-align: middle;
}

.sidebar ul li .sub-menu li a:hover:after {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 5px;
  background-color: #111;
  height: 100%;
}

.sidebar ul li .sub-menu li a:hover {
  background-color: #222;
  padding-left: 20px;
  transition: all 0.5s ease-in-out;
}

.sub-menu {
  border-left: 5px solid #dedede;
}

.sidebar li a .nav-label,
.sidebar li a .nav-label + span {
  transition: all 0.5s ease-in-out;
}

.sidebar.fliph li a .nav-label,
.sidebar.fliph li a .nav-label + span {
  display: none;
  transition: all 0.5s ease-in-out;
}

.sidebar.fliph {
  width: 42px;
  transition: all 0.5s ease-in-out;
}

.sidebar.fliph li {
  position: relative;
}

.sidebar.fliph .sub-menu {
  position: absolute;
  left: 39px;
  top: 0;
  background-color: #222;
  width: 150px;
  z-index: 100;
}

.user-panel {
  clear: left;
  display: block;
  float: left;
}

.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.user-panel > .info,
.user-panel > .info > a {
  color: #fff;
}

.user-panel > .info > p {
  font-weight: 600;
  margin-bottom: 9px;
}

.user-panel {
  clear: left;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding: 25px 15px;
  border-bottom: 1px solid;
}

.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.fliph .user-panel {
  display: none;
}

.admin-wrapper {
  width: 100%;
  display: block;
  margin: auto;
}

aside {
  display: inline-flex;
  min-height: 90vh;
  width: 100%;
}

/*********Forms*********/
.formContainer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formContainer .form-group label {
  margin-top: 10px;
  font-weight: bold;
}

table i {
  margin: 0 5px;
}
table .fa-pen {
  color: rgb(46, 43, 43);
}
table .fa-trash-alt {
  color: rgb(235, 14, 14);
}/*# sourceMappingURL=styles.css.map */