{% extends 'admin.html.twig' %}

{% block title %}Espace personnel{% endblock %}

{% block body %}


<div class="example-wrapper w-100">
    <h1 class="text-center mt-3">Bienvenue dans votre espace personnel {{app.user.firstname}} {{app.user.lastname}}  !</h1>

    
</div>
{% endblock %}
